header{
    min-width: 100%;
   background: no-repeat url(../img/Sections_background/section-1\(header\).jpg);
   background-attachment: fixed;
   background-size: cover;
}
main{
    min-width: 100%;
}
footer{
    min-width: 100%;
}
p{
    margin: 0px;
}
.logo-and-nav-section{
    background: rgba(94, 93, 88, 0.6);
}
.logo-and-nav{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-logo-link{
    text-decoration: none;
    max-width: 200px;
}
.logo-picture-container{
min-width: 60px;
min-height: 67px;
background: no-repeat url(../img/additional/polygon_1_1.png);
display: flex;
align-items: center;
justify-content: center;
}
.H-logo-letter{
    position: relative;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}

.main-logo-title{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
color: #FFFFFF;
}
.logo-strong{
    color: #18CFAB;
}

.nav-list{
    list-style: none;
    column-gap: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.nav-list-item{
    min-height: 134px;
    
}

.nav-item-list-link{
    text-decoration: none;
    min-height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
    
}

.nav-item-text{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
transition: 0.1s ease-in-out;
}

.nav-item-list-link:hover>.nav-item-container>.nav-item-text{
    color: #18CFAB;
    transition: 0.1s ease-in-out;
}

.nav-item-list-link:hover{
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid #18CFAB;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.home{
    margin-bottom: 8px;
}
.home-text-container{
    margin-top: 367px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 22px;
}

.home-text-theHam{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 35px;
text-transform: uppercase;

color: #FFFFFF;

}

.theHam-wordpress{
    color: #18CFAB;
}

.home-text-we-are-creative{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 78px;
text-transform: uppercase;

color: #FFFFFF;
}
.home-text-just-buy{
    font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 34px;
color: #D4D4D4;
}

.home-explore-and-purchase{
    max-width: 1160px;
    margin-top: 124px;
    padding-bottom: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 26px;
}
.green-link{
    min-width: 169px;
    min-height: 63px;
background-color: #18CFAB;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
text-decoration-line: none;
}

.green-link:hover{
    border-top: 4px solid #FFFFFF;
}



.home-purchase-container-link{
    min-width: 169px;
    min-height: 63px;
    background: #00CBF6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
text-decoration-line: none;
    }
    .home-purchase-container-link:hover{
        border-top: 4px solid #FFFFFF;
    }

.home-text-button{
    
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 32px;
text-transform: uppercase;

color: #FFFFFF;


}

.options-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.options-item{
min-height: 377px;
min-width: 25%;
background: #18CFAB;
display:flex;
align-items: center;
justify-content: center;
}

.options-item-dark{
    background: #1C2A33;
}

.options-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 47px;
}

.options-image-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.options-description{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color:  #18CFAB;;
}

.options-description-white{
    color: #FFFFFF;
}
.section-title-container{
    max-width: 1160px;
    margin-left: auto;
margin-right: auto;
padding-top: 85px;
display: flex;
align-items: center;
justify-content: center;
}
.lines-container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    max-width: 92px;
    min-height: 15px;
}

.line-one{
    position: absolute;
    min-width: 75.54px;
    min-height: 2px;
    background: #18CFAB;
}

.line-two{
    position: absolute;
    margin-top: 5px;
min-width: 78px;
min-height: 2px;
background: #18CFAB;
margin-left: 13px;
}

.section-title{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
color: #4E4E4E;
display: flex;
align-items: center;
justify-content: center;

}

.services-list{
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 65px;
}

.services-list-item{
    position: relative;
    min-width: 192px;
    min-height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8FCFE;
border: 1px solid #EDEFEF;
transition: 0.3s ease-in-out;
cursor: pointer;
}

.services-description{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    color: #717171;
}

.services-info-list{
    list-style: none;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    max-width: 1160px;
    max-height: 139px;
}

.services-info{
    margin-bottom: 91px
}
.services-info-item{
    display: none;
}
.services-info-item-active{
    display: block;
}
.services-image-text{
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    column-gap: 15px;
}

.services-image-container{
max-width: 192px;
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.services-text-container{
    max-width: 952px;
    min-height: 100%;
}

.services-text{
    font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
color: #777777;
text-align: justify;
}

.services-list-item-active{
    background: #18CFAB;
    transition: 0.3s ease-in-out;
}

.services-list-item-active:after{
    position: absolute;
content: url(../img/services/additional/Rectangle\ 60.png);
top: 73px;
transition: 0.3s ease-in-out;
}

.purchase{
    position: relative;
    min-height: 476px;
    background: url(../img/purchase/background/section-2.jpg);
background-repeat: no-repeat;
background-size: cover;
}



.purchase-text-and-button{
    position: absolute;
    min-width: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.78);

}
.purchase-text-container-1{
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.purchase-text-container-2{
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.purchase-main{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color: #18CFAB;

}

.purchase-second{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #D8D8D8;
}

.purchase-link{
    max-width: 168px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    margin-bottom: 128px;
}

.purchase-link-text{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 32px;
text-transform: uppercase;

color: #FFFFFF;
}

.work{
    background: #E9EDEF;
    padding-bottom: 100px;
}

.our-amazing-work-container{
    max-width: 378px;
    margin-left: auto;
margin-right: auto;
padding-top: 95px;
margin-bottom: 24px;
}


.lines-container-2{
    margin-top: 20px;
    margin-bottom: 70px;
}

.works-menu-list{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 72px;
}



.work-menu-list-item{
    min-height: 59px;
    border: 1px solid #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.work-menu-list-item-active{
    border: 1px solid #18CFAB;
    cursor: pointer;
}
.work-menu-list-item-active>.work-menu-item-description{
    color: #18CFAB;
    transition: 0.1s ease-in-out;
}




.work-menu-item-description{
    padding: 1em 1em;
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 42px;
color: #717171;
transition: 0.1s ease-in-out;
}


.works-list{
    max-width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.works-list-item{
min-width: 285px;
min-height: 208px;
}

.work-item-image{
    width: 100%;
    height: 100%;
}

.works-hover{
    display: none;
    min-width: 100%;
    min-height: 100%;
    border-top: 6px solid  #18CFAB;
    ;
}

.works-links-flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    column-gap: 4px;
}

.work-link-1{
    min-width: 44px;
    min-height: 44px;
    border: 1px solid #18CFAB;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.work-link-2{
    min-width: 44px;
    min-height: 44px;
    background: #18CFAB;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    display: flex;
align-items: center;
justify-content: center;
}

.white-square{
    min-width: 12px;
min-height: 12px;
background: #FFFFFF;
}
.work-item-title-container{
    max-width: 162px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-item-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14.1771px;
line-height: 25px;
text-transform: uppercase;

color: #18CFAB;
}

.work-item-description-container{
    max-width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.work-item-description{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 12.1518px;
line-height: 25px;
color: #8A8A8A;
}

.works-list-item:hover>.work-item-image{
    display: none;
}

.works-list-item:hover>.works-hover{
    display: block;
}

.work-button-load-more{
    max-width: 170px;
    min-height: 64px;
    background: #18CFAB;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid;
    border-color: #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    cursor: pointer;
}

.load-more{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 42px;
text-transform: uppercase;

color: #FFFFFF;


}

.breaking-news-list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    max-width: 1160px;
    display: grid;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 33px;
    row-gap: 44px;
    padding-bottom: 130px;
}

.breaking-news-list-item{
    min-width: 265px;
    min-height: 281px;
    list-style: none;
}

.breaking-item-link{
    min-width: 100%;
    min-height: 100%;
    text-decoration: none;
}

.breaking-image-date-container{
    min-width: 100%;
    min-height: 208px;
    position: relative;
}

.breaking-item-image{
min-width: 100%;
min-height: 100%;
}
.breaking-date{
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 68px;
    min-height: 66px;
    background: #203E38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.date{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
color: #FFFFFF;
}

.breaking-header{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 17.9885px;
line-height: 39px;
color: #717171;
padding-left: 6%;
padding-top: 8px;
transition: 0.3s ease-in-out;
}

.breaking-item-link:hover>.breaking-header{
    transition: 0.3s ease-in-out;
    padding-left: 10%;
    color: #18CFAB;
}
.breaking-item-link:hover>.breaking-image-date-container>.breaking-date{
    background-color: #18CFAB;
    transition: 0.3s ease-in-out;
}

.breaking-flex-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    padding-left: 6%;
}

.breaking-description{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 13.991px;
line-height: 39px;
color: #777777;
}

.breaking-line{
    min-width: 1.2px;
    min-height: 13.6px;
    background-color: #777777;
    border: none;
}

.clients-feedback{
    background: url(../img/feedback/background/section-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.title-container{
    max-width: 1160px;
    padding-top: 98px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-title{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
color: #FFFFFF;
}

.feedback-list{
    min-height: 480px;
    margin-top: 68px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-list-item{
    min-width: 1160px;
    position: absolute;
    transition: 0.3s ease-in-out;
    
}
.feedback-list-item-1{
    left: 0px;
}


.feedback-list-item-2{
    left: 1160px;
}
.feedback-list-item-3{
    left: 2320px;
}
.feedback-list-item-4{
    left: 3480px;
}

.quotes-picture{
    margin-left: auto;
    margin-right: auto;
}

.quote-text-container{
    margin-top: 36px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #BBBBBB;
text-align: center;

}

.feedback-author-proffesion-container{
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
}

.feedback-author{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 27px;
text-transform: uppercase;
color: #18CFAB;
}

.round-background-image-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    max-width: 168px;
    min-height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-background{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    border-radius: 700px;
    background: #1FDAB5;
mix-blend-mode: normal;
margin-left: auto;
margin-right: auto;
opacity: 0.2;
}




.authors-select-list{
    margin-top: 60px;
    max-width: 500px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.authors-list-item{
    position: relative;
    min-width: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.author-picture-menu{
    min-width: 60px;
    min-height: 60px;
    border-radius: 800px;
    z-index: 100;
}

.authors-list-item-active{
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.authors-menu-arrow-item{
min-width: 31px;
min-height: 31px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #BBBBBB;
display: flex;
align-items: center;
justify-content: center;
transition: 0.3s ease-in-out;
cursor: pointer;
}
.authors-menu-arrow-item:hover{
    background: #18CFAB;
}


.feedback-author-picture{
    min-width: 143px;
    min-height: 143px;
    border-radius: 50%;
    z-index: 100; 
}
.feedback-author-menu{
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    z-index: 100;
}
.author-menu-1{
    background: url(../img/feedback/authors-image/14.jpg) center/cover;
}
.author-menu-2{
    background: url(../img/feedback/authors-image/360_F_197116416_hpfTtXSoJMvMqU99n6hGP4xX0ejYa4M7.jpg) center/cover;
}

.author-menu-3{
    background: url(../img/feedback/authors-image/Layer\ 344.png) center/cover;
}
.author-menu-4{
    background: url(../img/feedback/authors-image/57-576498_man-face-png-happy-people-face-png.jpg) center/cover;
}

.footer{
    background: #22353F;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright-text{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #AEAEAE;
}
.copyright-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-theHam-link{
    text-decoration: none;
    color: #18CFAB;
}